div.autocomplete-deluxe-multiple {
  color: var(--gin-color-text);
  background: var(--gin-bg-input);
  border: 1px solid var(--gin-border-color-form-element);
  border-radius: var(--gin-border-m);
  box-sizing: border-box;
  transition: var(--gin-transition);
}

.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  min-height: 0;
  background: none;
}

.autocomplete-deluxe-item {
  color: var(--gin-color-primary-hover);
  padding: 6px 24px 6px 12px;
  background-color: var(--gin-color-primary-light-hover;
  border-radius: var(--gin-border-m);
  border: 0 none;
  box-shadow: none;
}

.autocomplete-deluxe-item:hover,
.autocomplete-deluxe-item:active {
  color: var(--gin-color-button-text);
  background-color: var(--gin-color-primary);
}

.autocomplete-deluxe-item .autocomplete-deluxe-item-delete {
  top: 6px;
  right: 6px;
  mask-image: url('../images/close.svg');
  mask-size: 10px 10px;
  mask-repeat: no-repeat;
  mask-position: center;
  background: var(--gin-color-primary);
}

.autocomplete-deluxe-item:hover .autocomplete-deluxe-item-delete,
.autocomplete-deluxe-item .autocomplete-deluxe-item-delete:hover {
  background: var(--gin-color-button-text);
}
